# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Logs
*.log

# Environment Variables
.env

# Docker
**/Dockerfile

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
venv.bak/

# Node modules
node_modules/
